body{
    background-color: lightblue;
    font: normal 15pt Arial, sans-serif;
    color: white;
}
header{
text-align: center;
}
section{
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
color: black;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
text-align: center;
}
section img{
    padding: 10px 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
footer{
    text-align: center;
    font-style: italic;
}